
popup#notification { style-set: notification-message; }

@set notification-message {

  :root {
    prototype: Notification url(notification.tis);
    margin:20dip;
    width: 300dip;
    display:none;
    transform: translate(0,0); opacity:1.0;
    font:system;
    background-color: #fff;
    border-color: 1px solid #999;
  }
  
  logo { 
      foreground: url(path:M1664 640q53 0 90.5 37.5t37.5 90.5-37.5 90.5-90.5 37.5v384q0 52-38 90t-90 38q-417-347-812-380-58 19-91 66t-31 100.5 40 92.5q-20 33-23 65.5t6 58 33.5 55 48 50 61.5 50.5q-29 58-111.5 83t-168.5 11.5-132-55.5q-7-23-29.5-87.5t-32-94.5-23-89-15-101 3.5-98.5 22-110.5h-122q-66 0-113-47t-47-113v-192q0-66 47-113t113-47h480q435 0 896-384 52 0 90 38t38 90v384zm-128 604v-954q-394 302-768 343v270q377 42 768 341z)  no-repeat 50% 50%; 
      foreground-size:34dip;
      size:34dip;
      fill:#000;
      background-color: #EBEBEB; display: block; font-size: 34dip; width: 100dpi; float: left; padding: 18dip;
  }
  header { display:block; font-weight: bold; padding: 10dip 10dip 5dip 10dip; margin-left: 80dip;  margin-right: 10dip; font-size: 16dip; border-bottom: 1px dashed gray;}
  content { display:block; padding: 5dip 10dip 10dip 10dip; margin-left: 80dip; margin-right: 10dip; font-size: 14dip;}


  :root[state] {display:block;}
  :root[state=initial] { transform: translate(0,100%); opacity:0.0; } /* offstage */
  :root[state=shown]   { transform: translate(0,0);    opacity:1.0; transition: transform(quad-out,500ms) opacity(linear,500ms);  }
  :root[state=closed]  { transform: translate(100%,0); opacity:0.0; transition: transform(linear,500ms) opacity(linear,500ms);  }
  

}